.delivery_process {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1rem;
  background: #e24329;
  margin-bottom: 2rem;
}

.sentence_1 {
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.sentence_2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.track_parcel {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-bottom: 1.5rem;
}
.track_parcel input {
  font-family: "Ubuntu", sans-serif;
  /* font-weight: 500; */
  /* font-size: 1.125rem; */
  border: 1px solid #fff;
  padding: 0.7rem 1rem;
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 1.875rem 0 0 1.875rem;
  outline: none;
  background: #ffff;
}
.track_parcel button {
   font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1rem;

  line-height: 100%;
  border: 1px solid #ff6a00;
  padding: 0.7rem 1rem;
  border-radius: 0 1.875rem 1.875rem 0;
 

  background: #ff6a00;
  color: #ffff;
}
.delivery_image{
  order: -1;
  margin-bottom: 1.5rem;
}

.delivery_image img {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .delivery_process {
    flex-direction: row;
    padding: 5.625rem 6.125rem;
    align-items: center;
    background: #e24329;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .sentence_1 {
    font-size: 3rem;
    line-height: 4.25rem;
    margin-bottom: 1.875rem;
  }
  .sentence_2 {
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin-bottom: 3.625rem;
  }
  .track_parcel input {
    padding:1.188rem 8.063rem;
  }
  .track_parcel button {
    padding:1.188rem 1.938rem;
  }

  .delivery_image {
    width: 100%;
    order: 0;
  margin-bottom:0;
  }
}
