.nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.logo{
  margin-bottom:1.5rem;
}

.nav_items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* align-items: center; */
}

.contact,
.lang {
  display: flex;
  gap: 0.5rem;
  align-items: center;
    font-size: 1rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: #444B51;

}

.nav_items button {
  border: 1px solid #e24329;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  background-color: #e24329;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .nav {
    flex-direction: row;
    padding: 1.063rem 6.125rem;
    justify-content: space-between;
    align-items: center;
  }
  .nav_items {
    flex-direction: row;
    gap: 1.838rem;
    align-items: center;
    justify-content: center;
  }
  .contact,
  .lang {
    gap: 0.425rem;
    align-items: center;
  }
  .nav_items button {
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 700;
  }
}
